<!-- _includes/introduction.html -->
<div class="main-content" id="home">
  <div class="content">
    <div class="content__container">
      <!-- Blocul animat -->
      <p class="content__container__text">
        <span class="animated-wrapper">
          <span class="static-text" id="intro-static-text">Hello</span>
          <span class="dynamic-text-wrapper">
            <span class="dynamic-list">
              <span class="dynamic-list__item" id="intro-dynamic-1">world !</span>
              <span class="dynamic-list__item" id="intro-dynamic-2">bob !</span>
              <span class="dynamic-list__item" id="intro-dynamic-3">users !</span>
              <span class="dynamic-list__item" id="intro-dynamic-4">everybody !</span>
            </span>
          </span>
        </span>
        &nbsp;<span class="im-text" id="intro-im-text">I'm</span>
      </p>
      <!-- Semnătură -->
      <p class="signature">
        <span class="signature-name">Manole Elisei.</span>
      </p>
      <!-- Secțiunea "Despre mine" din Introducere -->
      <div class="about-me" id="about">
        <p class="about-text" id="intro-about-text">
          I am a full stack developer passionate about technology, with expertise in both front-end and back-end. Let's innovate together!
        </p>
        <button class="contact-btn talk-btn" id="intro-talk-btn">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
