<nav class="navbar">
  <div class="navbar-container">
    <a href="#home" class="navbar-logo">My Portfolio</a>
    <div class="menu-icon" onclick="toggleMobileMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-menu">
      <li class="nav-item"><a href="#home" class="nav-links">Home</a></li>
      <li class="nav-item"><a href="#about" class="nav-links">About Me</a></li>
      <li class="nav-item"><a href="#skills" class="nav-links">Skills</a></li>
      <li class="nav-item"><a href="#projects" class="nav-links">Projects</a></li>
    </ul>
    <div class="nav-btns">
      <button id="lang-toggle" class="btn-lang">EN/RO</button>
      <button id="theme-toggle" class="btn-theme"><i class="fas fa-moon"></i></button>
    </div>
  </div>
</nav>
